:root {
  --primary-color: #191f3b;
  --secondary-color: #36bad1;
  --contrast-color: #ee750b;
  --white-color: #fafbfc;
}
/* ----- General Styling ----- */
html,
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding: 0;
  background-color: var(--primary-color);
  font-size: 20px;
  line-height: 30px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) transparent;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}
body::-webkit-scrollbar {
  width: 16px;
  background-color: var(--white-color);
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.bold_text {
  font-weight: bold;
}

#header,
#footer,
#main_content {
  padding: 24px 20%;
}

/* ----- Header Styling ----- */
#header {
  position: fixed;
  width: 100%;
  background: var(--white-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 900;
}
p,
li {
  font-weight: 300;
  color: white;
}
a,
a:hover {
  text-decoration: none;
  color: var(--primary-color);
}
hr {
  padding: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--white-color);
}
* {
  box-sizing: border-box;
}
.logo a {
  background: url("../images/logo.png") no-repeat;
  display: block;
  text-indent: -9988px;
  width: 150px;
  height: 44px;
}

/* ----- Main Navigation Styling ----- */

ul.a {
  list-style-type: circle;
}
div.relative {
  position: relative;
  left: 30px;
}
.first_list {
  float: left;
  margin: 0 14px;
}
.main_menu_first {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.main_menu_first:hover {
  border-bottom: 5px solid var(--contrast-color);
}
.with_dropdown {
  position: relative;
}
.with_dropdown li a {
  display: block;
}
.with_dropdown ul {
  background: #fff;
  border-bottom: 5px solid #2aacc8;
  padding: 12px 0;
  position: absolute;
  top: 24px;
  visibility: hidden;
  width: 197px;
}
.first_list:hover.first_list ul {
  visibility: visible;
}
.with_dropdown .main_menu_first {
  background: url(../images/arrow_down.png) no-repeat 92%;
  padding-right: 23px;
}
.with_dropdown:hover .main_menu_first {
  background: #fff url(../images/arrow_down.png) no-repeat 92%;
  border-top: 5px solid #2aacc8;
  color: #2aacc8;
}
.second_list {
  margin: 0 5px;
  padding: 10px;
}
.second_list_border {
  border-bottom: 1px solid #e7e7e7;
}
.main_menu_second {
  color: #000;
  font-size: 13px;
  text-transform: capitalize;
}
.main_menu_second:hover {
  color: #2aacc8;
}
.main_current {
  border-bottom: 5px solid var(--contrast-color);
}
/* ----- Slideshow Styling ----- */
#slideshow_area .img_banner {
  height: 240px;
  width: 100vw;
  object-fit: cover;
  margin-left: -35%;
}
#slideshow_container {
  position: relative;
}
#slideshow_container .banner_title {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--white-color);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  text-align: right;
  padding-top: 24px;
}
.img_prez {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
}
#cta_unity {
  float: right;
  display: flex;
  width: 270px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 24px 16px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
#cta_unity img {
  width: 40px;
  height: 40px;
}
#cta_unity:hover {
  background-color: var(--contrast-color);
}
#mid_content {
  border-bottom: 1px solid #d9d9d9;
  background: var(--white-color);
  height: 300px;
}
#slideshow_pagination {
  margin: 10px auto;
  width: 160px;
}
#slideshow_pagination li {
  float: left;
  margin: 0 9px;
}
#slideshow_pagination a {
  background: url("../images/grey_button.png") no-repeat;
  display: block;
  height: 14px;
  width: 14px;
}
#slideshow_pagination a.current {
  background: url(../images/white_button.png) no-repeat;
}

/* ----- Typography ----- */
p {
  margin: 16px 0;
}
b {
  font-weight: bolder;
}

h1,
h2,
h3,
h4 {
  margin-top: 40px;
  margin-bottom: 8px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  display: inline-block;
  color: var(--white-color);
}

a {
  word-break: break-all;
  color: var(--white-color);
}
a:hover {
  color: var(--secondary-color);
}

h1 {
  font-size: 32px;
  line-height: 39px;
  border-bottom: 5px solid var(--contrast-color);
}
h3 {
  border-bottom: 2px solid var(--contrast-color);
}

/* tabs */
.tab_container {
  position: relative;
}
.tab_container > ul {
  position: absolute;
  list-style: none;
  margin: 0;
  right: 1rem;
  top: -2rem;
  padding-left: 0;
}
.tab_container .code {
  white-space: normal;
  padding: 1rem 1.5rem;
}
.tab {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  font-weight: 200;
  cursor: pointer;
}
.tab.active {
  border-bottom: 1px solid var(--primary-color);
  font-weight: 700;
  display: inline-block;
}
.tab_pane {
  display: none;
}
.tab_pane.active {
  display: block;
}
/* code */
.code {
  border-radius: 3px;
  font-family: Space Mono, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  background: var(--white-color);
  border: 1px solid var(--white-color);
  color: var(--white-color);
}
.code_block {
  white-space: pre-line;
  padding: 0 1.5rem;
}
.code_inline {
  padding: 3px 6px;
  font-size: 80%;
}
/* buttons */
.button_primary {
  padding: 10px 22px;
  background-color: var(--contrast-color);
  color: white;
  position: relative;
  text-decoration: none;
  border: 0;
  transition: all 0.3s ease-out;
}
.button_primary:after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: var(--contrast-color);
  right: -0.4rem;
  top: -0.4rem;
  transition: all 0.3s ease-out;
}
.button_primary:hover {
  text-shadow: 0px 1px 1px var(--contrast-color);
  color: white;
  transform: translate3D(0, -3px, 0);
}
.button_primary:hover::after {
  transform: rotate(90deg);
}
.button_secondary {
  padding: 10px 22px;
  border: 2px solid var(--primary-color);
  transition: all 0.5s ease-out;
}
.button_secondary:hover {
  border-color: var(--contrast-color);
  color: var(--contrast-color);
}
/* links */
.link {
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.link:hover {
  color: var(--contrast-color);
}
.link_dark {
  color: var(--primary-color);
}
.link_light {
  color: var(--contrast-color);
}
/* menu */
nav {
  display: grid;
  grid-template-columns: 70px auto;
}
.menu {
  margin: 0;
  text-align: right;
  overflow: hidden;
  list-style: none;
}
.toggle {
  display: none;
  position: relative;
}
.toggle span,
.toggle span:before,
.toggle span:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 2px;
  background: var(--primary-color);
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  right: 0;
}
.toggle span:before {
  top: -6px;
}
.toggle span:after {
  bottom: -6px;
}
.toggle.open span {
  background-color: transparent;
}
.toggle.open span:before,
.toggle.open span:after {
  top: 0;
}
.toggle.open span:before {
  transform: rotate(45deg);
}
.toggle.open span:after {
  transform: rotate(-45deg);
}
.menu_item {
  padding: 1rem;
  display: inline-block;
}
.menu_item.toggle {
  display: none;
}
/* table */
table {
  border-collapse: collapse;
  width: 100%;
  transition: color 0.3s ease-out;
  margin-bottom: 2rem;
}
table td,
table th {
  border: 1px solid var(--white-color);
  padding: 0.8rem;
  font-weight: 300;
}
table th {
  text-align: left;
  background-color: white;
  border-color: white;
  border-bottom-color: var(--white-color);
}
table td:first-child {
  background-color: var(--white-color);
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  nav {
    grid-template-columns: 70px auto;
  }
  .menu_item {
    display: none;
  }
  .menu_item.toggle {
    display: inline-block;
  }
  .menu {
    text-align: right;
    padding: 0.5rem 1rem;
  }
  .toggle {
    display: block;
  }
  .menu.responsive .menu_item:not(:first-child) {
    display: block;
    padding: 0 0 0.5rem 0;
  }
}
/* layout */
#main_content {
  padding-top: 92px;
  padding-bottom: 110px;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/* ----- Footer Styling ----- */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--white-color);
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#footer p,
#footer a {
  color: var(--primary-color);
  font-size: 16px;
}
#footer_connect {
  float: right;
  width: 213px;
}
#footer_connect h4 {
  margin-left: 24px;
}

p#copyright {
  margin: 0;
  margin-right: 40px;
  font-weight: 400;
}
#footer_logo {
  background: url(../images/logo_small.png) no-repeat;
  display: block;
  float: right;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
}

ul,
li {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: var(--white-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
