:root {
  --primary-color: #191f3b;
  --secondary-color: #36bad1;
  --contrast-color: #ee750b;
  --white-color: #fafbfc;
}

html {
  scroll-padding-top: 2000px;
}

#main_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav {
  max-width: 250px;
  height: 100%;
  margin-top: 24px;
  padding-right: 80px;
  position: fixed;
  left: 20%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 260px;
  scroll-padding-top: 200px;
}
.nav-2::-webkit-scrollbar-track {
  border-radius: 10px;
}
.nav::-webkit-scrollbar {
  width: 8px;
}
.nav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
}
.nav ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.5;
}

.nav ol {
  list-style: none;
  padding-left: 20px;
  line-height: 1.2;
}
.nav li:hover {
  color: var(--contrast-color);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.nav .selected {
  color: var(--contrast-color);
  position: relative;
}
.nav .selected:after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: var(--contrast-color);
  left: -1.5rem;
  top: 0.3rem;
}
.content {
  max-width: 70%;
}
.content img {
  max-width: 550px;
  border: 2px solid var(--secondary-color);
}
@media (max-width: 750px) {
  .wrapper {
    flex-direction: column;
  }
  .content {
    padding-left: 0;
  }
  .nav ul {
    border-bottom: 1px solid var(--code-background-color);
    padding-bottom: 0.5rem;
  }
  .nav ul.fixed {
    /* nutralized the fixed menu for mobile*/
    position: relative;
    top: 0;
  }
  .nav li {
    display: inline-block;
    padding-right: 1rem;
  }
  .nav .selected:after {
    display: none;
  }
}
